#banner_image
{
 
	background: url("Images/backg.jpg") no-repeat center;  
	padding-bottom: 10%;   
	padding-top: 75px;   
	text-align: center;    
	color: #f8f8f8;   
	background-size: cover;
}
#banner_content 
{
	position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	margin-top: 12%;
	margin-bottom: 12%;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px;
}
#stylefooter
{
	padding: 10px 0;
	background-color: #101010;
	color:#fafafa;
	bottom:0;
	width: 100%;
	position: fixed;
}